
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    font-size: 40px;
    padding: 40px 0px;
    text-align: center;
    color: tomato;
}

p {
    text-align: center;
}

.boxes {
    width: 80vw;
    height: auto;
    margin: auto;
    background: #636e72;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;
}

.box {
    /* width: 200px; */
    flex: 1 1 300px;
    height: 300px;
    background: #81ecec;
    box-shadow: 0 0 20px #bac3c3;
}

.box:first-child {
    background: #ffbe76;
}

.box:last-child {
    background: #ff7979;
}

@media (max-width: 768px) {
    .container {
        height: auto;
    }
}